.container{
border: 5px solid black;
height: 100%px;
width: 400px;
margin-left: auto;
margin-right: auto;
text-align: center;
}


.seatBox{

  background-color: grey;
  padding: 5px;
  margin: 5px;
  width: 70px;
  height: 50px;
  display: inline-block;
  font-family: monospace;
  border-radius: 3px;


}

.stage{

width: 300px;
height: 70px;
background-color: black;
color: white;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}

.formContainer{

  border: 5px solid black;
  height: 100%px;
  width: 20%;
  right: 20px;
  top: 40px;
  position: fixed;
  padding-left: 5px;
  padding-bottom: 5px;

}

.selectedSeat{
background-color: black;
color: white;
padding: 5px;
margin: 5px;
width: 70px;
height: 50px;
display: inline-block;
font-family: monospace;
border-radius: 3px;


}


.reservedSeat{
background-color: red;
color: white;
padding: 5px;
margin: 5px;
width: 70px;
height: 50px;
display: inline-block;
font-family: monospace;
border-radius: 3px;
pointer-events: none;



}





.activeSeat{
background-color: pink;
color: white;
padding: 5px;
margin: 5px;
width: 70px;
height: 50px;
display: inline-block;
font-family: monospace;
border-radius: 3px;


}

.xClose{
  text-align: center;
  height: 100%;
  width: 15px;
color: white;
background-color: black;
margin-left: 89%;
margin-top: 5px;

}

.xClose a:visited{
  text-align: center;
  height: 100%;
  width: 15px;
color: white;
background-color: black;
margin-left: 278px;
margin-top: 5px;
text-decoration: none;

}

.reservedPermanent{
background-color: orange;
color: white;
padding: 5px;
margin: 5px;
width: 70px;
height: 50px;
display: inline-block;
font-family: monospace;
border-radius: 3px;
pointer-events: none;

}



.seatInfoPopUp{
  border: 5px solid black;
  height: 100px;
  width: 20%;
  right: 20px;
  top: 240px;
  position: fixed;
  padding-left: 5px;
  padding-bottom: 5px;





}
